<!-- <p>cartdisp works!</p> -->

<table class="table table-striped ml-2 mr-4 mt-3">
    <tr>
        <!-- <th style= "width: 16.66%;"class="text-primary text-center bg-muted">
            Product Id
        </th> -->
        <th class="text-primary">
            Product Name
        </th>
        <th class="text-primary">
            Product Price
        </th>
        <th class="text-primary">
            Product Description
        </th>
        <th class="text-primary ">
            Product Image
        </th>
    </tr>
    <tr *ngFor="let p of cartprodlist">
        <!-- <td><b>{{p.id}}</b></td> -->
        <td><b><a [routerLink]="['/productdetails',p.productName]">{{p.productName}}</a></b></td>
        <td>{{p.price|currency:'INR'}}</td>
        <td><b>{{p.description}}</b></td>
<td><img src="{{p.imgurl}}" width="150 " height="150"></td>

 <td><a [routerLink]="['/payment']" class="btn  btn-rounded border btn-rounded">Buy Now</a></td>
</tr></table>
