<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<div>
  <app-header></app-header>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
  <!-- <p class="lead">Use the URL routing to navigate through the pages</p> -->
  <!-- <p>Hello World!!</p> -->
  <!-- <p>Hi {{firstName}}!!</p>
  <input [(ngModel)]="firstName"> -->
  <!-- <app-contact></app-contact> -->
  <!-- <button type="button" (click)="getFun()">Click me!!</button> -->
  <!-- <button type="button" [disabled]="isDisabled">Show me</button> -->
  
  <!-- <app-home></app-home>
  <app-contact></app-contact>-->
  <!-- <app-about></app-about>  -->
  <!-- <router-outlet></router-outlet> -->

  
  <!-- <app-product></app-product> --> 
  <!-- <app-parent></app-parent> --> 
  <!-- <app-login></app-login> -->
  <!-- <app-emp></app-emp> -->
  <!-- <app-services></app-services> -->
