<!-- <p>product works!</p> -->
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<p class="display-4 text-muted">Products</p>
 <button type="button" class="btn btn-rounded btn-info"(click)="getProd()" >Click me</button> <br/>
<!--<table class="table table-striped ml-2 mr-4 mt-3">
    <tr> -->
        <!-- <th style= "width: 16.66%;"class="text-primary text-center bg-muted">
            Product Id
        </th> -->
        <!-- <th class="text-primary">
            Product Name
        </th>
        <th class="text-primary">
            Product Price
        </th>
        
        <th class="text-primary">
            Product Description
        </th>
        <th class="text-primary ">
            Product Image
        </th>
    </tr>
    


    <tr *ngFor="let p of allprods"> -->
        <!-- <td><b>{{p.id}}</b></td> -->
        <!-- <td><b><a [routerLink]="['/productdetails',p.productName]">{{p.productName}}</a></b></td>
        <td>{{p.price|currency:'INR'}}</td>
    
    <td><b>{{p.description}}</b></td>
<td><img src="{{p.imgurl}}" width="150 " height="150"></td>
<td><button [routerLink]="['/cart',p.id]">Add to Cart</button></td> -->
    <!-- <td><a  href="{{p.prod_link}}" class="btn btn-success text-center">Buy Now</a>
</td> -->
<!-- </tr>
</table> -->

<div class="row row-cols-1 row-cols-md-3 g-4">

    <div *ngFor="let pro of allprods" class="col">
        <br/>

      <div class="card h-100">

        <img src="{{pro.imgurl}}" class="card-img-top" alt="product image">

        <div class="card-body">

          <a [routerLink]="['/productdetails',pro.productName]"  class="card-title">{{pro.productName}}</a>

          <p class="card-text">{{pro.description}}</p>

          <p class="card-text text-center">{{pro.price | currency:"INR"}}</p>

          <a [routerLink]="['/cart',pro.id]" class="btn btn-primary">Add to Cart</a><br><br>

          <a [routerLink]="['/payment']" class="btn btn-success">Buy Now</a>

        </div>

      </div>

    </div>